@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
    list-style: none;
}
* h3{
    font-weight: bold;
    
}

/* shared-box */
.display-flex {
    display: flex;
    justify-content: space-around;

}





/* nav section */
.navber {
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.nav-head {
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.home {
    padding-right: 30px;
    color: orange;
    font-weight: bold;
    font-size: 1.2rem;
}

.about {
    padding-right: 30px;
    color: skyblue;
    font-weight: bold;
    font-size: 1.2rem;
}

.Facilities {
    padding-right: 30px;
    color: rgb(30, 66, 68);
    font-weight: bold;
    font-size: 1.2rem;
}

.Admission {
    padding-right: 30px;
    color: rgba(93, 88, 239, 1);
    font-weight: bold;
    font-size: 1.2rem;
}

.prim-btn {
    background-color: orange;
    padding: 10px 50px;
    color: white;
    border: 0;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}

.icone {
    width: 100px;
}

.bar {
    border: 2px solid black;
    width: 30px;
}

.all-bar {
    flex-direction: column;
    gap: 3px;
    border: 1px;
    display: none;
}

/* bannar section */
.banner {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.bannar-txt h1 {
    font-weight: bold;
    font-size: 3.2rem;
    padding-bottom: 20px;
}

.span-1 {
    color: orange;
}

.span-2 {
    color: rgb(34, 184, 244);
}

.bannar-txt button {
    padding: 10px 30px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-top: 20px;
    cursor: pointer;
}

/* box section */

.all-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1160px;
    gap: 40px;
    margin: 0 auto;
}

.box1 {
    width: 350px;
    height: 400px;
    box-shadow: 0 0 28px rgba(0, 150, 150, 0.2);
    padding-top: 40px;
    background: linear-gradient(rgba(0, 150, 150, 0.2), rgba(0, 0, 0, 0));
    border-radius: 20px;
}

.box2 {
    width: 350px;
    height: 400px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
    padding-top: 40px;
    background: linear-gradient(rgba(75, 150, 0, 0.2), rgba(0, 0, 0, 0));
    border-radius: 20px;

}

.box3 {
    width: 350px;
    height: 400px;
    padding-top: 40px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
    background: linear-gradient(rgba(150, 127, 0, 0.2), rgba(0, 0, 0, 0));
    border-radius: 20px;
}

.contrainer,
.story {
    background-image: url("../assets/bg.png");
    margin: 30px auto;
    text-align: center;
    justify-content: center;


}

.all-box img {
    width: 136px;
    height: 136px;
}

.box-header {
    font-weight: bold;
    font-size: 2.4rem;
    margin: 20px 0px;
}

.box1 h4 {
    font-weight: bold;
    font-size: 1.7rem;
    margin: 18px 0px;


}

.box2 h4 {
    font-weight: bold;
    font-size: 1.7rem;
    margin: 18px 0px;


}

.box3 h4 {
    font-weight: bold;
    font-size: 1.7rem;
    margin: 18px 0px;
}

.rdm1 {
    color: rgba(100, 200, 255, 1);
    margin-top: 20px;
    cursor: pointer;
}

.rdm2 {
    color: rgb(156, 181, 33);
    margin-top: 20px;
    cursor: pointer;

}

.rdm3 {
    color: rgb(255, 100, 196);
    gap: 20px;
    cursor: pointer;

}

#icon {
    background-color: orange;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 17px;
}

#icone1 {
    background-color: orange;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 17px;
}

.arrow {
    justify-content: center;
    gap: 20px;
    text-align: center;
    cursor: pointer;
}

/* story box section */

.main-box {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(254, 161, 1, 0.442));

}

.story {
    max-width: 90%;
    margin: 0 auto;
    /* box-shadow: 0 0 28px rgba(0, 0, 0, 0.05); */

    background-color: ;
}

.story-all-box {
    text-align: start;
}

.story-box1 {
    max-width: 540px;
    height: 650px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: white;
}





.story-box1 img {
    border-radius: 20px 20px 0px 0px;
}

.sort-box img {
    border-radius: 20px 20px 0px 0px;

}

.sort-box {
    gap: 0;
}

.story-box2,
.story-box3,
.story-box4,
.story-box5 {
    max-width: 290px;
    background-color: white;
    border-radius: 20px;
}
.story-box1 h3{
    padding: 30px 0px 30px 20px;

}
.story-box2 h3{
    padding: 30px 0px 30px 20px;

}
.story-box3 h3{
    padding: 30px 0px 30px 20px;

}
.story-box4 h3{
    padding: 30px 0px 30px 20px;

}
.story-box5 h3, p{
    padding: 30px 0px 0px 20px;
}
.story-box5 p{
    padding: 0px 20px;
}


.big-box {
    flex-direction: column;
}

.sort-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-btn1{
    background-color: rgba(60, 216, 232, 1);
    color: white;
    padding: 10px 5px;
    border: 0;
    border-radius: 20px;
    /* position: absolute; */
    /* margin-top: -20px; */
    margin-top: -20px;
    margin-left: 20px;


}
.story-btn2, .story-btn3, .story-btn4, .story-btn5{
    color: white;
    background-color: rgba(29, 45, 222, 0.838);

    padding: 10px 5px;
    border: 0;
    border-radius: 20px;
    position:absolute;
    margin-left: 20px;
    margin-top: -20px;

}
.story-btn2{
    background-color: rgb(29, 222, 96);

}
.story-btn4{
    background-color: rgba(156, 19, 198, 0.944);

}
.story h1{
    font-weight: bold;
    font-size: 2.6rem;
    margin: 40px 0;
}
.last-btn{
    padding: 10px 30px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin: 40px 0px;
    cursor: pointer;

}
.footer-contenar{
    background-color: rgb(2, 54, 77);
    color: white;
    
}
.footer{
    max-width: 90%;
    margin: 0 auto;
}
.footer-head{
    padding: 20px 0;
    max-width: 30%;
    display: flex;
    flex-direction: row;
}
.footer-p{
    max-width: 28%;
    padding-left: 150px;
}

.footer-nav a{
    color: white;

}
.footer-nav{
    padding: 20px 0px 30px 0px;
}
.footer-icon{
    padding: 20px 0px 30px 0px;
}


.display-none {
    display: none;
}
.marquee{
    width:100%;
    background-color: rgba(1, 172, 253, 1);
    text-align: center;
    white-space: nowrap;
    animation: animate 5s linear infinite;

}
@keyframes animate{
    100%{
        transform: translate(-100%,0);
    }

}


/* mobile phone */

@media screen and (max-width:425px) {

    .nav-btn,
    .prim-btn,
    .nav-head h1 {
        display: none;
    }

    .all-bar {
        display: flex;
        flex-direction: column;
        gap: 3px;
        border: 1px;
        border-radius: 50%;
        cursor: pointer;
    }

    .navber {
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid orange;
        margin: 0%;
    }

    .banner {
        display: flex;
        flex-direction: row;
        flex-direction: column-reverse;
    }

    .bannar-img {

        width: 100%;
        margin: 0%;
        padding: 0;
        gap: 0;
    }

    .bannar-txt {
        text-align: center;
    }

    .bannar-img img {

        width: 100%;
    }

    .all-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* width: 1160px; */
        gap: 40px;
        margin: 0 auto;
    }

    .all-box {
        width: fit-content;
    }

    .arrow {
        display: none;
    }
.big-box{
    display: none;
}
.sort-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
}
/* .sort-box{
    width: 100%;
} */
 .main-box{
    width: 100%;
 }
.sort-box{
    width: 100%;
}
.story-btn2, .story-btn3, .story-btn4, .story-btn5{
    width: 60%;
    position: relative;
    padding: 0;

}
.story-box2, .story-box3, .story-box4, .story-box5{
    width: 100%;
}
.sort-box img{
    width: 100%;
}
.footer{
    flex-direction: column;
}
.footer-p{
    display: none;
}





}